---
import '../styles/global.css';
import type { Lang } from '../lib/config';
import { SITE_TITLE } from '../lib/config';

interface Props {
  title: string;
  description?: string;
  lang: Lang;
}

const { title, description, lang } = Astro.props;
const pageTitle = `${title} - ${SITE_TITLE}`;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
